<div class="row">
  <div class="small-3 small-centered columns">
    <h1>Login here:</h1>
  </div>
</div>
<div class="row">
  <div class="small-3 small-centered columns">
    <a role="button" href="/auth/github" class="button success login-btn">Login with Github</a>
  </div>
</div> 
