<nav class="top-bar" data-topbar role="navigation">
  <h3 class="nav-title">Github Public Commit Reminder</h3>
</nav>
<div class="row">
  <div class="small-4 small-centered columns text-center">
    <h1>Login here:</h1>
  </div>
</div>
<div class="row">
  <div class="small-4 small-centered columns text-center">
    <a role="button" href="/auth/github" class="button success login-btn">Login with Github</a>
  </div>
</div> 
